<!DOCTYPE html>
<html lang="en">
	<%- include('_layouts/head') -%> 
	<body>
        <!-- HEADER -->
	    <%- include('_layouts/header') -%> 
		<!-- NAVIGATION -->
	    <%- include('_layouts/navigation') -%> 
        <!-- /FOOTER -->
	    <%- include('_layouts/footer')-%> 
        <!-- jQuery Plugins -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/nouislider.min.js"></script>
        <script src="js/jquery.zoom.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
