</div>
</div>
<script src="../../../admin/js/bootbox.js"></script>
<script src="../../../admin/js/jquery-ui.js"></script>
<script src="../../../admin/js/cate_main.js"></script>
<script src="../../../admin/js/bootstrap.min.js"></script>
<script src="../../../admin/js/sidebar-nav.min.js"></script>
<script src="../../../admin/js/jquery.slimscroll.js"></script>
<script src="../../../admin/js/waves.js"></script>
<script src="../../../admin/js/jquery.waypoints.js"></script>
<script src="../../../admin/js/jquery.counterup.min.js"></script>
<script src="../../../admin/js/jquery.sparkline.min.js"></script>
<script src="../../../admin/js/custom.min.js"></script>
<script src="../../../admin/js/jquery.toast.js"></script>
<div class="jq-toast-wrap top-right">
    <div class="jq-toast-single jq-has-icon jq-icon-warning" style="text-align: left; display: none;"><span
            class="jq-toast-loader jq-toast-loaded"
            style="-webkit-transition: width 3.1s ease-in;                       -o-transition: width 3.1s ease-in;                       transition: width 3.1s ease-in;                       background-color: #fff;"></span><span
            class="close-jq-toast-single">×</span>
        <h2 class="jq-toast-heading">Welcome to Ample admin</h2>Use the predefined ones, or specify a custom
        position object.
    </div>
</div>
</body>

</html>